<html>
    <head>
        <title>Здарова привет</title>
        <link rel='stylesheet' href='style.css'>
    </head>
    
    <body>
        <h1 class='zxc'>Hello!</h1>
        <p class='zxc'><a href='https://myaccount.google.com/?pli=1'>Прикоп</a>asd asd asd asd</p>
        </br>
        <ul >
            <li style='color:red;'><i>1</i></li>
            <li><b>{{name}}</b></li>
            <li>{{password}}</li>
        </ul>
        <ol>
            <li class='zxc'>1</li>
            <li>2</li>
            <li class='zxc'>3</li>
        </ol>
        <img src="http://placehold.it/50x50">
    </body>
</html>